@font-face {
    font-family: 'Lighthaus';
    src: url(../fonts/Lighthaus.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Light.ttf);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-SemiBold.ttf);
    font-weight:600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
body {
    padding: 0;
    margin: 0;
    width: 100%;   
}
body::-webkit-scrollbar {
    width: 0px;
}
.wrapper {
    max-width: 1640px; 
    margin: 0 auto;
}
.header__list {
    display: flex;  
    column-gap: 51px;
    flex-wrap: nowrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.header__list li a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
}
.menu-btn {
    display: none;
}
.img {
    padding-top: 135px;
    background-image: url(../img/verh.svg);
 padding-bottom: 514px;
    width: 100%;
    background-size: cover;
}
.shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 60px;
    background-color: #F8F8F6;
    padding-top: 139px;
    padding-bottom: 139px;
}
.shop h1{
    margin: 0;
    font-family: 'Lighthaus';
    font-weight: normal;
    font-style: normal;
    font-size: 128px;
    line-height: 100px;
    color: black;
}
.shop__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.shop__menu ul:nth-child(1) {
    display: flex;
    column-gap: 72px;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.shop__menu ul:nth-child(2) {
    display: flex;
    column-gap: 72px;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.shop__menu ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;  
}
.shop__link:hover {
    color: #1B4F30;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 166px;
}
.cards div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 25px;
}
.cards div h3 {
margin: 0;
font-family: 'Montserrat', sans-serif;
font-weight: 600;
font-size: 26px;
color: black;
line-height: 20px;
}
.cards div p {
margin: 0;
font-family: 'Montserrat', sans-serif;
font-weight: 300;
font-size: 30px;
color: black;
line-height: 23px;
}
footer {
    padding-top: 181px;
    padding-bottom: 180px;
      display: flex;
      justify-content: center;
      align-items: center;  
      background: white;
  }
  .footer_block {
      column-gap: 145px;
      display: flex;
      justify-content: space-between;
  }
  .logo {
      width: 253px;
      height: 105px;
  }
  .footer__block-first {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  .footer_block div p a, .footer_block div p {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: black;
    text-decoration: none;
}
  .footer__block-second {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  .footer__block-third {
      display: flex;
      align-items: start;
  padding-bottom: 160px;
      column-gap: 36px;
  }
  